<li id="sensor-{{sensorID}}" class="collection-item avatar roomsensor editing" data-sensor-id={{sensorID}}>
    {{#ifOccupied lastMotionTime}}
        <i class="material-icons circle red">location_off</i>
    {{else}}
        <i class="material-icons circle green">location_on</i>
    {{/ifOccupied}}
    <span class="title">{{sensorID}}</span>
    <p>
        <i>Last seen {{relativeDate lastMotionTime}}</i>
        <br/>
        {{#if tempearture}}
        <b>Temperature:</b> {{temperature}}°F
        <br/>
        {{/if}}
        {{#if humidity}}
        <b>Humidity:</b> {{humidity}}%
        <br/>
        {{/if}}
        <b>Description:</b>
    </p>
    <a class="secondary-content">
      <i class="material-icons roomsensor-cancel">cancel</i>
      <i class="material-icons roomsensor-save">done</i>
    </a>
    <div class="row">
      <form id="edit-form-{{sensorID}}" class="col s12" role="form">
        <div class="row">
          <div class="input-field col s12">
            <input id="notes-textarea" name="notes" length="120" class="materialize-input" value="{{notes}}"></input>
          </div>
        </div>
      </form>
    </div>
</li>

