<li id="sensor-{{sensorID}}" class="collection-item avatar roomsensor" data-sensor-id={{sensorID}}>
    <i class="material-icons circle green">location_off</i>
    <span class="title">{{sensorID}}</span>
    <p>
        <i>Last seen {{relativeDate lastMotionTime}}</i>
        <br/>
        <b>Temperature:</b> {{temperature}}°F
        <br/>
        <b>Humidity:</b> {{humidity}}%
        <br/>
        <b>Notes:</b>
        <br/>
        {{notes}}
    </p>
    <a class="secondary-content">
      <i class="material-icons roomsensor-cancel">cancel</i>
      <i class="material-icons roomsensor-save">done</i>
    </a>
    <div class="row">
      <form id="edit-form-{{sensorID}}" class="col s12" role="form">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="notes-textarea" name="notes" length="120" class="materialize-textarea" placeholder={{notes}}></textarea>
            <label for="notes">Notes</label>
          </div>
        </div>
      </form>
    </div>
</li>

